{% extends '_base.html' %}
{% load i18n foundation %}
{% block title %} Вход {% endblock %}

{% block content %}
<div class="row">
   <br>
   <form action="" method="post" class="medium-8 medium-offset-2">
     {% csrf_token %}
     <h5 class="medium-9 columns right">Введите данные:</h5>
     <br>
       {{ form|foundationinline }}
       <div class="row ">
         <div class="large-9 columns right">
           <button class="button tiny" type="submit">Отправить</button>
         </div>
       </div>
     </form>
</div>
{% endblock %}
