{% extends '_base.html' %}

{% block title %}
  Тест {{ test.name }}
{% endblock %}

{% block extrastyle %}
<style>
  body {
    padding-top: 60px;
  }
  .contain-to-grid {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
  }
  #countdown {
    font-size: 24px;
    padding: 2px 20px;
    display: inline-block;
    margin-right: 40px;
    color: rgb(255, 133, 133);
    font-weight: bold;
  }
</style>
{% endblock %}

{% block scripts %}
<script>
var QUESTIONS = {{ test.questions|length }}
var TEST_TIME = {{ seconds_left }}
var PRESAVE_URL = "{% url "test_completion_presave" test.pk %}"
var initSeconds = TEST_TIME
var form = oldForm = {}
var testform = document.getElementById('testform')
var answered = document.getElementById('answered')
var submittest = document.getElementById('submittest')
var modal = document.getElementById('modal')
var closeModal = document.getElementById('closemodal')


var answeredQuestions = {}
var formIsSaving = false

for (var i = 0; i < testform.elements.length; i++) {
  if (testform.elements[i].checked) {
    answeredQuestions[testform.elements[i].name] = true
  }
}

answered.innerHTML = Object.keys(answeredQuestions).length + "/" + QUESTIONS

testform.addEventListener("change", function(e) {
  if (e.target.checked) {
    answeredQuestions[e.target.name] = true
  } else {
    delete answeredQuestions[e.target.name]
  }
  answered.innerHTML = Object.keys(answeredQuestions).length + "/" + QUESTIONS
  if (!formIsSaving) {
    formIsSaving = true
    setTimeout(function(){
      sendForm()
      formIsSaving = false
    }, 3000)
  }
})

submittest.addEventListener("click", function(){
  if (Object.keys(answeredQuestions).length != QUESTIONS) {
    modal.style.display = "block"
  } else {
    testform.submit()
  }
})

closemodal.addEventListener("click", function(){
  modal.style.display = "none"
})

function sendForm() {
  var formData = new FormData(testform)
  formData.append("seconds_left", initSeconds)
  var request = new XMLHttpRequest()
  request.open("POST", PRESAVE_URL)
  request.send(formData)
}

function getTimeRemaining(secons){
  var t = secons;
  var seconds = Math.floor((t) % 60)
  var minutes = Math.floor((t/60) % 60)
  var hours = Math.floor((t/(60*60)) % 24)

  return {
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  }
}

function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  function updateClock(){
    initSeconds--
    var t = getTimeRemaining(initSeconds);

    if(initSeconds<=0){
      clock.innerHTML = "Потрачено"
    } else {
      clock.innerHTML = ('0' + t.hours).slice(-2) + ":" + ('0' + t.minutes).slice(-2) + ":" + ('0' + t.seconds).slice(-2);
    }
  }

updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

initializeClock('countdown');
</script>
{% endblock %}
{% block advanced %}
<li>
  <span id="countdown" class="small" style="margin-top: 3px;"></span>
</li>
{% endblock %}

{% block content %}
<div id="modal" style="display: none">
  <div class="reveal-modal-bg" style="display: block;"></div>
  <div class="reveal-modal small open text-center" tabindex="0" style="display: block; opacity: 1; visibility: visible; position: fixed; top: 100px;">
    <h5>Вы не ответили на все вопросы!</h5>
    <a id="closemodal" class="close-reveal-modal">×</a>
  </div>
</div>
<div class="row" style="padding-bottom: 90px;">
  <h2 class="page-header">{{ test.name }}</h2>
  <form id="testform" action="" method="post">
      {% csrf_token %}
      {% for question in test.questions %}
      <fieldset>
        <legend>
          <span class="radius secondary label">№{{ question.position }}</span>
        </legend>
        <label style="padding-bottom:10px">
          <strong>{{ question.text|safe }}</strong>
        </label>
          {% for answer in question.answers %}
          <div class="row collapse" style="margin-bottom: 5px">
            <div class="left">
              <input type="checkbox" name="{{ question.id }}" value="{{ answer.id }}" style="margin-bottom:5px; margin-right: 10px" id="{{ answer.id }}" {% if answer.id in checked_questions %}checked="true"{% endif %}>
            </div>
              <label for="{{ answer.id }}" style="display: inline">
                {{ answer.text|safe }}
              </label>
          </div>
          {% endfor %}

      </fieldset>
      {% endfor %}
  </form>
</div>
<div style="position:fixed; bottom: 0; height: 90px; left: 0; background-color: #fff; width: 100%; border-top: 1px solid #f0f0f0;">
  <div class="row">
    <button id="submittest" type="button" class="button small" style="margin-top: 23px; margin-right: 20px;">Отправить</button>
    <span id="answered"></span>
  </div>
</div>
{% endblock %}
